<div id="about" class="container-fluid bg-primary min-vh-100 d-flex justify-content-center">
  <div class="d-flex flex-row w-100 justify-content-center pt-5">
    
    <div class="d-flex flex-column py-5">
      <img src="/images/me_about2.jpeg" alt="Thats someone cool" style="width:250px;height:550px; border-radius: 2%;">
    </div>
    
    <div class="d-flex flex-column w-50 p-5">
      <p class="fw-bold fs-3 text text-white ">{{tab_about}}</p>
      <p class="fw-bold fs-5 text text-white">
        {{{about_me_content}}}
    </div>
  </div>
</div>